#app {
  height: 100%
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 250px;
  height: 350px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, auto);
  top: var(--swiper-pagination-top, 21.8rem);
  left: 0;
  width: 100%;
}

:root {
  --swiper-theme-color: #ffffff;
}

.swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, #BB86FC);
}

.card:hover {
  backdrop-filter: blur(12px);
  border-radius: 20px;
}

@media (min-width: 640px) {
  .swiper {
    width: 320px;
    height: 500px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: var(--swiper-pagination-top, 31.5rem);

  }
}


@media (min-width: 1024px) {
  .swiper {
    width: 270px;
    height: 370px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: var(--swiper-pagination-top, 23.5rem);

  }
}


@media (min-width: 1440px) {
  .swiper {
    width: 320px;
    height: 500px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: var(--swiper-pagination-top, 31.5rem);

  }
}